In [1]:
import pandas as pd;
df = pd.read_csv('./2020.02.26 - PLANILHA DO TERMO DE COLABORAÇÃO APAEs - 2020_0.csv',sep=';')

In [3]:
df

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,01/01/2020,31/12/2020,0.0,53.0,53.0,"R$ 716.295,00"
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,01/01/2020,31/12/2020,53.0,125.0,178.0,"R$ 1.937.994,29"
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,01/01/2020,31/12/2020,89.0,0.0,89.0,"R$ 417.492,77"
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,01/01/2020,31/12/2020,39.0,3.0,42.0,"R$ 223.491,27"
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,01/01/2020,31/12/2020,0.0,193.0,193.0,"R$ 2.608.395,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282.0,00861/16,080351 - DIR.ENS.REG. AVARE,APAE DE CERQUEIRA CESAR,04.315.690/0001-29,Em Andamento,30/12/2016,01/01/2020,31/12/2020,45.0,0.0,45.0,"R$ 211.091,85"
282,283.0,00862/16,080351 - DIR.ENS.REG. AVARE,APAE DE TAQUARITUBA,50.345.842/0001-53,Em Andamento,30/12/2016,01/01/2020,31/12/2020,47.0,22.0,69.0,"R$ 517.803,71"
283,284.0,00863/16,080351 - DIR.ENS.REG. AVARE,APAE DE AVARE,44.586.386/0001-30,Em Andamento,30/12/2016,01/01/2020,31/12/2020,74.0,0.0,74.0,"R$ 347.128,82"
284,285.0,00560/16,080352 - DIR.ENS.REG. PENAPOLIS,APAE DE PENAPOLIS,44.443.471/0001-40,Em Andamento,01/01/2016,01/01/2020,31/12/2020,159.0,21.0,180.0,"R$ 1.029.672,87"
285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Limpeza de dados

In [7]:
df['Total de alunos (D.I+T.E.A)'].unique()

array([ 53., 178.,  89.,  42., 193.,  66.,  93.,  59.,  64.,  74.,  44.,
        77.,  61., 210., 144., 112.,  47.,  57., 161., 358.,  80., 308.,
       164.,  25., 132.,  35.,  55.,  29.,  54.,  24.,  23., 297., 141.,
        88.,  69., 167.,   2.,  62.,  34.,  33., 217.,  45.,  41., 123.,
       136.,  18.,  31.,  40.,  36., 114.,  52.,  50.,  11., 226.,  19.,
        58.,   7., 116.,  20.,  38., 149.,  26.,  49., 180.,  65., 182.,
        70.,  84.,  17.,  14., 181.,  39.,  95., 103.,  98., 142.,  37.,
        21.,  48., 107., 162.,  63.,  90.,  67.,  99.,   5.,  81.,  12.,
        30.,  43.,  46.,  27.,  13.,  83.,  97., 293., 102., 120., 100.,
        22.,  51., 108.,  87., 126.,  60., 209., 216.,  86., 146.,  68.,
       154.,  10.,  71.,  28., 119., 215.,  16.,  76., 101.,  32.,  92.,
        56., 134., 185., 125., 122.,   0., 127., 176., 147.,  79., 156.,
       121.,  75.,  nan])

In [8]:
convertido = pd.to_numeric(df['Total de alunos (D.I+T.E.A)'],errors='coerce')

In [10]:
convertido.unique()

array([ 53., 178.,  89.,  42., 193.,  66.,  93.,  59.,  64.,  74.,  44.,
        77.,  61., 210., 144., 112.,  47.,  57., 161., 358.,  80., 308.,
       164.,  25., 132.,  35.,  55.,  29.,  54.,  24.,  23., 297., 141.,
        88.,  69., 167.,   2.,  62.,  34.,  33., 217.,  45.,  41., 123.,
       136.,  18.,  31.,  40.,  36., 114.,  52.,  50.,  11., 226.,  19.,
        58.,   7., 116.,  20.,  38., 149.,  26.,  49., 180.,  65., 182.,
        70.,  84.,  17.,  14., 181.,  39.,  95., 103.,  98., 142.,  37.,
        21.,  48., 107., 162.,  63.,  90.,  67.,  99.,   5.,  81.,  12.,
        30.,  43.,  46.,  27.,  13.,  83.,  97., 293., 102., 120., 100.,
        22.,  51., 108.,  87., 126.,  60., 209., 216.,  86., 146.,  68.,
       154.,  10.,  71.,  28., 119., 215.,  16.,  76., 101.,  32.,  92.,
        56., 134., 185., 125., 122.,   0., 127., 176., 147.,  79., 156.,
       121.,  75.,  nan])

In [11]:
df['Total de alunos (D.I+T.E.A)'] = convertido

In [12]:
df

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,01/01/2020,31/12/2020,0.0,53.0,53.0,"R$ 716.295,00"
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,01/01/2020,31/12/2020,53.0,125.0,178.0,"R$ 1.937.994,29"
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,01/01/2020,31/12/2020,89.0,0.0,89.0,"R$ 417.492,77"
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,01/01/2020,31/12/2020,39.0,3.0,42.0,"R$ 223.491,27"
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,01/01/2020,31/12/2020,0.0,193.0,193.0,"R$ 2.608.395,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282.0,00861/16,080351 - DIR.ENS.REG. AVARE,APAE DE CERQUEIRA CESAR,04.315.690/0001-29,Em Andamento,30/12/2016,01/01/2020,31/12/2020,45.0,0.0,45.0,"R$ 211.091,85"
282,283.0,00862/16,080351 - DIR.ENS.REG. AVARE,APAE DE TAQUARITUBA,50.345.842/0001-53,Em Andamento,30/12/2016,01/01/2020,31/12/2020,47.0,22.0,69.0,"R$ 517.803,71"
283,284.0,00863/16,080351 - DIR.ENS.REG. AVARE,APAE DE AVARE,44.586.386/0001-30,Em Andamento,30/12/2016,01/01/2020,31/12/2020,74.0,0.0,74.0,"R$ 347.128,82"
284,285.0,00560/16,080352 - DIR.ENS.REG. PENAPOLIS,APAE DE PENAPOLIS,44.443.471/0001-40,Em Andamento,01/01/2016,01/01/2020,31/12/2020,159.0,21.0,180.0,"R$ 1.029.672,87"
285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df['Qntd. Alunos T.E.A'].unique()

array([ 53., 125.,   0.,   3., 193.,  69.,  59.,  14.,  13.,   7.,  12.,
         8.,  15., 135.,  36.,  28.,  20.,  16.,  19.,   5.,   9.,  10.,
        22.,  34.,  30.,   4.,   2.,  78.,  38.,   1.,  37.,  40.,  24.,
         6.,  21.,  11.,  81.,  33., 121.,  18.,  23.,  73.,  42.,  55.,
        31.,  54.,  nan])

In [17]:
df['Qntd. Alunos T.E.A'] = pd.to_numeric(df['Qntd. Alunos T.E.A'],errors='coerce')

In [19]:
df['Valor total'] = pd.to_numeric(df[' Valor total'], errors='coerce')

In [22]:
df['Qntd. alunos D.I'] = pd.to_numeric(df['Qntd. alunos D.I'],errors='coerce')

In [23]:
df['Fim do aditamento'] = pd.to_datetime(df['Fim do aditamento'],errors='coerce')

In [30]:
df['Início do aditamento'] = pd.to_datetime(df['Início do aditamento'],errors='coerce')

In [31]:
df

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total,Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,2020-01-01,2020-12-31,0.0,53.0,53.0,"R$ 716.295,00",NaN
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,2020-01-01,2020-12-31,53.0,125.0,178.0,"R$ 1.937.994,29",NaN
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,2020-01-01,2020-12-31,89.0,0.0,89.0,"R$ 417.492,77",NaN
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,2020-01-01,2020-12-31,39.0,3.0,42.0,"R$ 223.491,27",NaN
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,2020-01-01,2020-12-31,0.0,193.0,193.0,"R$ 2.608.395,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282.0,00861/16,080351 - DIR.ENS.REG. AVARE,APAE DE CERQUEIRA CESAR,04.315.690/0001-29,Em Andamento,30/12/2016,2020-01-01,2020-12-31,45.0,0.0,45.0,"R$ 211.091,85",NaN
282,283.0,00862/16,080351 - DIR.ENS.REG. AVARE,APAE DE TAQUARITUBA,50.345.842/0001-53,Em Andamento,30/12/2016,2020-01-01,2020-12-31,47.0,22.0,69.0,"R$ 517.803,71",NaN
283,284.0,00863/16,080351 - DIR.ENS.REG. AVARE,APAE DE AVARE,44.586.386/0001-30,Em Andamento,30/12/2016,2020-01-01,2020-12-31,74.0,0.0,74.0,"R$ 347.128,82",NaN
284,285.0,00560/16,080352 - DIR.ENS.REG. PENAPOLIS,APAE DE PENAPOLIS,44.443.471/0001-40,Em Andamento,01/01/2016,2020-01-01,2020-12-31,159.0,21.0,180.0,"R$ 1.029.672,87",NaN
285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [36]:
df.dropna()

Empty DataFrame
Columns: [ORD, Nº Processo, Unidade Gestora, Conveniado, CNPJ da entidade, Status do Termo de Colaboração, Data da celebração , Início do aditamento, Fim do aditamento, Qntd. alunos D.I, Qntd. Alunos T.E.A, Total de alunos (D.I+T.E.A),  Valor total, Valor total]
Index: []

In [33]:
dados_limpos = df.dropna()

In [35]:
dados_limpos

Empty DataFrame
Columns: [ORD, Nº Processo, Unidade Gestora, Conveniado, CNPJ da entidade, Status do Termo de Colaboração, Data da celebração , Início do aditamento, Fim do aditamento, Qntd. alunos D.I, Qntd. Alunos T.E.A, Total de alunos (D.I+T.E.A),  Valor total, Valor total]
Index: []

In [3]:
dados_filtardos = df.describe()

In [4]:
dados_filtardos.head()

,ORD,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A)
count,285.000000,285.000000,285.000000,285.000000
mean,143.000000,58.487719,9.701754,68.189474
std,82.416625,46.380135,21.546841,55.344560
min,1.000000,0.000000,0.000000,0.000000
25%,72.000000,28.000000,0.000000,31.000000