In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./2020.02.26 - PLANILHA DO TERMO DE COLABORAÇÃO APAEs - 2020_0.csv',sep=';')

Limpeza de dados

In [4]:
df.head()

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,01/01/2020,31/12/2020,0.0,53.0,53.0,"R$ 716.295,00"
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,01/01/2020,31/12/2020,53.0,125.0,178.0,"R$ 1.937.994,29"
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,01/01/2020,31/12/2020,89.0,0.0,89.0,"R$ 417.492,77"
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,01/01/2020,31/12/2020,39.0,3.0,42.0,"R$ 223.491,27"
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,01/01/2020,31/12/2020,0.0,193.0,193.0,"R$ 2.608.395,00"

In [5]:
df['Total de alunos (D.I+T.E.A)'] = pd.to_numeric(df['Total de alunos (D.I+T.E.A)'],errors='coerce')

In [6]:
df['Qntd. Alunos T.E.A'] = pd.to_numeric(df['Qntd. Alunos T.E.A'],errors='coerce')

In [7]:
df['Fim do aditamento'] = pd.to_datetime(df['Fim do aditamento'],errors='coerce')

In [8]:
df['Início do aditamento'] = pd.to_datetime(df['Início do aditamento'],errors='coerce')

In [9]:
df.head()

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,2020-01-01,2020-12-31,0.0,53.0,53.0,"R$ 716.295,00"
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,2020-01-01,2020-12-31,53.0,125.0,178.0,"R$ 1.937.994,29"
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,2020-01-01,2020-12-31,89.0,0.0,89.0,"R$ 417.492,77"
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,2020-01-01,2020-12-31,39.0,3.0,42.0,"R$ 223.491,27"
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,2020-01-01,2020-12-31,0.0,193.0,193.0,"R$ 2.608.395,00"

In [10]:
df.shape

(286, 13)

In [11]:
dados_filtrados = df.dropna()

In [12]:
dados_filtrados.shape

(285, 13)

In [15]:
dados_filtrados.head()

,ORD,Nº Processo,Unidade Gestora,Conveniado,CNPJ da entidade,Status do Termo de Colaboração,Data da celebração,Início do aditamento,Fim do aditamento,Qntd. alunos D.I,Qntd. Alunos T.E.A,Total de alunos (D.I+T.E.A),Valor total
0,1.0,1213122/18,080261 - DIR.ENS.REGIAO CENTRO,AUMA-ASSOCIAÇÃO DOS AMIGOS DA CRIANÇA AUTISTA,38.893.038/0001-03,Em Andamento,16/01/2019,2020-01-01,2020-12-31,0.0,53.0,53.0,"R$ 716.295,00"
1,2.0,1794588/18,080261 - DIR.ENS.REGIAO CENTRO,ASSOC. BRAS. DE ASSIST. E DESENV.SOCIAL-ABADS,60.805.975/0001-19,Em Andamento,01/01/2016,2020-01-01,2020-12-31,53.0,125.0,178.0,"R$ 1.937.994,29"
2,3.0,04107/16,080262 - DIR.ENS.REGIAO CENTRO OESTE,A.A.C.D. - A.A. A CRIANÇA DEFICIENTE,60.979.457/0001-11,Em Andamento,30/12/2016,2020-01-01,2020-12-31,89.0,0.0,89.0,"R$ 417.492,77"
3,4.0,2909/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AHIMSA ASSOCIACAO EDUCACIONAL P/MULTIPLA DEFI,65.513.806/0001-29,Em Andamento,01/01/2016,2020-01-01,2020-12-31,39.0,3.0,42.0,"R$ 223.491,27"
4,5.0,2911/16,080263 - DIR.ENS.REGIAO CENTRO SUL,AMA - ASSOC. DE AMIGOS DO AUTISTA,52.802.295/0001-13,Em Andamento,01/01/2016,2020-01-01,2020-12-31,0.0,193.0,193.0,"R$ 2.608.395,00"

Análise por agrupamento

In [72]:
grupo = dados_filtrados.groupby('Total de alunos (D.I+T.E.A)')

In [73]:
grupo.groups

{0.0: [262], 2.0: [37], 5.0: [119, 127, 159, 261], 7.0: [61], 10.0: [208], 11.0: [56, 125, 163], 12.0: [123, 199], 13.0: [137, 235], 14.0: [87], 16.0: [226, 228, 257], 17.0: [86, 108, 277], 18.0: [46, 244, 260], 19.0: [58, 115], 20.0: [63, 116, 246], 21.0: [98, 198], 22.0: [165, 178, 237], 23.0: [30, 177, 186, 268], 24.0: [29, 122, 141, 171, 188], 25.0: [23, 95], 26.0: [68, 71, 85, 168, 192], 27.0: [133, 230, 240, 248, 278, 280], 28.0: [214], 29.0: [27, 64, 154, 229], 30.0: [126, 139, 164, 169], 31.0: [49, 78, 103, 179, 185, 206], 32.0: [236, 259, 272], 33.0: [40, 107, 131, 190], 34.0: [39, 47, 48, 130, 267], 35.0: [25, 148], 36.0: [51, 53, 59, 109], 37.0: [97, 134, 245], 38.0: [65, 210, 216], 39.0: [90, 156], 40.0: [50, 74, 155, 273], 41.0: [43, 170, 172, 218, 255], 42.0: [3, 89, 118, 166, 176], 43.0: [128, 143, 160, 253], 44.0: [10, 69, 129, 152, 209, 239], 45.0: [42, 94, 113, 242, 281], 46.0: [132, 167, 215, 256], 47.0: [16, 254, 274], 48.0: [99], 49.0: [72, 201, 203, 221, 234], 50.0: [55, 67, 231], 51.0: [173], 52.0: [54, 162, 213, 222], 53.0: [0], 54.0: [28, 77, 219, 241], 55.0: [26, 217], 56.0: [247, 251], 57.0: [17, 31, 114], 58.0: [60, 227], 59.0: [7, 76, 153], 60.0: [183, 243], 61.0: [12, 70, 121], 62.0: [38, 81], 63.0: [104], 64.0: [8, 102, 111, 124, 207], 65.0: [79, 80], 66.0: [5], 67.0: [106], 68.0: [200], 69.0: [35, 145, 202, 282], 70.0: [83, 182, 204, 276], 71.0: [212], 74.0: [9, 142, 158, 283], 75.0: [279], 76.0: [232], 77.0: [11, 175], 79.0: [269], 80.0: [20], 81.0: [120, 135, 136, 147], 83.0: [138], 84.0: [84, 117, 144], 86.0: [195, 211, 275], 87.0: [180, 194, 223], 88.0: [34, 189], 89.0: [2], 90.0: [105, 112], 92.0: [238], 93.0: [6], 95.0: [91, 140], 97.0: [146], 98.0: [93, 224], 99.0: [110, 149], 100.0: [161], 101.0: [233, 265], 102.0: [151, 197], 103.0: [92], 107.0: [100], 108.0: [174], 112.0: [15], 114.0: [52], 116.0: [62, 73], 119.0: [220], 120.0: [157, 187], 121.0: [271], 122.0: [258], 123.0: [44], 125.0: [252], ...}

In [74]:
grupo_estatistica = grupo.describe()

In [76]:
grupo_estatistica

                              ORD                                         \
                            count   mean        std    min    25%    50%
Total de alunos (D.I+T.E.A)
0.0                           1.0  263.0        NaN  263.0  263.0  263.0
2.0                           1.0   38.0        NaN   38.0   38.0   38.0
5.0                           4.0  167.5  65.327381  120.0  126.0  144.0
7.0                           1.0   62.0        NaN   62.0   62.0   62.0
10.0                          1.0  209.0        NaN  209.0  209.0  209.0
...                           ...    ...        ...    ...    ...    ...
226.0                         1.0   58.0        NaN   58.0   58.0   58.0
293.0                         1.0  151.0        NaN  151.0  151.0  151.0
297.0                         1.0   33.0        NaN   33.0   33.0   33.0
308.0                         1.0   22.0        NaN   22.0   22.0   22.0
358.0                         1.0   20.0        NaN   20.0   20.0   20.0

                                          Qntd. alunos D.I         ...         \
                               75%    max            count   mean  ...    75%
Total de alunos (D.I+T.E.A)                                        ...
0.0                          263.0  263.0              1.0    0.0  ...    0.0
2.0                           38.0   38.0              1.0    2.0  ...    2.0
5.0                          185.5  262.0              4.0    5.0  ...    5.0
7.0                           62.0   62.0              1.0    7.0  ...    7.0
10.0                         209.0  209.0              1.0   10.0  ...   10.0
...                            ...    ...              ...    ...  ...    ...
226.0                         58.0   58.0              1.0  148.0  ...  148.0
293.0                        151.0  151.0              1.0  172.0  ...  172.0
297.0                         33.0   33.0              1.0  238.0  ...  238.0
308.0                         22.0   22.0              1.0  280.0  ...  280.0
358.0                         20.0   20.0              1.0  223.0  ...  223.0

                                   Qntd. Alunos T.E.A                     \
                               max              count   mean  std    min
Total de alunos (D.I+T.E.A)
0.0                            0.0                1.0    0.0  NaN    0.0
2.0                            2.0                1.0    0.0  NaN    0.0
5.0                            5.0                4.0    0.0  0.0    0.0
7.0                            7.0                1.0    0.0  NaN    0.0
10.0                          10.0                1.0    0.0  NaN    0.0
...                            ...                ...    ...  ...    ...
226.0                        148.0                1.0   78.0  NaN   78.0
293.0                        172.0                1.0  121.0  NaN  121.0
297.0                        238.0                1.0   59.0  NaN   59.0
308.0                        280.0                1.0   28.0  NaN   28.0
358.0                        223.0                1.0  135.0  NaN  135.0


                               25%    50%    75%    max
Total de alunos (D.I+T.E.A)
0.0                            0.0    0.0    0.0    0.0
2.0                            0.0    0.0    0.0    0.0
5.0                            0.0    0.0    0.0    0.0
7.0                            0.0    0.0    0.0    0.0
10.0                           0.0    0.0    0.0    0.0
...                            ...    ...    ...    ...
226.0                         78.0   78.0   78.0   78.0
293.0                        121.0  121.0  121.0  121.0
297.0                         59.0   59.0   59.0   59.0
308.0                         28.0   28.0   28.0   28.0
358.0                        135.0  135.0  135.0  135.0

[134 rows x 24 columns]

In [82]:
dados_filtrados['Total de alunos (D.I+T.E.A)'].unique()

array([ 53., 178.,  89.,  42., 193.,  66.,  93.,  59.,  64.,  74.,  44.,
        77.,  61., 210., 144., 112.,  47.,  57., 161., 358.,  80., 308.,
       164.,  25., 132.,  35.,  55.,  29.,  54.,  24.,  23., 297., 141.,
        88.,  69., 167.,   2.,  62.,  34.,  33., 217.,  45.,  41., 123.,
       136.,  18.,  31.,  40.,  36., 114.,  52.,  50.,  11., 226.,  19.,
        58.,   7., 116.,  20.,  38., 149.,  26.,  49., 180.,  65., 182.,
        70.,  84.,  17.,  14., 181.,  39.,  95., 103.,  98., 142.,  37.,
        21.,  48., 107., 162.,  63.,  90.,  67.,  99.,   5.,  81.,  12.,
        30.,  43.,  46.,  27.,  13.,  83.,  97., 293., 102., 120., 100.,
        22.,  51., 108.,  87., 126.,  60., 209., 216.,  86., 146.,  68.,
       154.,  10.,  71.,  28., 119., 215.,  16.,  76., 101.,  32.,  92.,
        56., 134., 185., 125., 122.,   0., 127., 176., 147.,  79., 156.,
       121.,  75.])